<div class="row">
  <div class="col-sm-12">
    <div class="well dont-pad-me-bro">
      <article class="risk car">

        <form ng-submit="vm.destroy()">
            <input type="hidden" name="id" ng-model="vm.id" value="{{ data }}"></input>
            <button type="submit" class="btn btn-circle btn-fab btn-raised btn-danger btn-trash"><i class="fa fa-close"></i></button>
        </form>

        <header class="duration">

            {{ risk.duration }} min.
            <div class="daisies">
                <ul>
                    <li><img src="/static/assets/daisy-sm.png" /></li>
                    <li><img src="/static/assets/daisy-sm.png" /></li>
                    <li><img src="/static/assets/daisy-sm.png" /></li>
                    <li><span></span></li>
                    <li><span></span></li>

                </ul>
            </div>
        </header>

        <div class="icon {{ risk.subtype }}"></div>

      </article>
    </div>
  </div>
</div>